.container{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.header{
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  color: rgb(47, 145, 145);
  .menu{
    button{
      margin-right: 10px;

    }
  }
}
.main{
  display: flex;
  justify-content: space-between;
  .categories{
    width: 200px;
  }
  .events{
    flex: 1;
  }
}
